*{
    font-family:  sans-serif;
}
body{
    background-color: #ececec;
    margin: auto;
    text-align: center;
}
.sprite{
    display: inline-block;
    background: url('https://www.shutterstock.com/image-vector/moon-phases-pixel-art-set-260nw-2216849153.jpg') no-repeat;
    width: 80px;
    height: 120px;
    background-position: -45px -65px;
    animation: move 1s steps(8)  infinite;

}

@keyframes move {
    0%{
        background-position: -45px -65px;
    }
    /* 20%{
        background-position: -130px -65px ;
    }
    50%{
        background-position: -225px -65px;
    }
    75%{
        background-position: -315px -65px;
    } */
    100%{
        background-position: -400px -65px;
    }
}
/* .step-2{
    background-position: -130px -65px ;
}
.step-3{
    background-position: -225px -65px;
}
.step-4{
    background-position: -315px -65px;
}
.step-5{
    background-position: -400px -65px;
} */