*{
    font-family: sans-serif;
}
body{
    background-color: #cecece;
    margin: auto;
    text-align: center;
}
.sprite{
    display: inline-block;
    background: url(https://w7.pngwing.com/pngs/982/223/png-transparent-sprite-2d-computer-graphics-animation-information-running-man-people-team-isometric-graphics-in-video-games-and-pixel-art.png) no-repeat;
    width: 80px;
    height: 100px;
    background-position: 0px 0px;
}
.step-2{
    background-position: -1200px 0px;
}