*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
:root{
    /* --color-acero: rgb(70, 130, 180);
    --dark-color: #000000;
    --mid-color: #6D676E;
    --light-color: #FFFFFF;
    --bg-color:#0f0f0f;
    --bg-artice: #152D73;
    --bg-artice2: #60A5FA; */
    --brand-color: #60A5FA;
    --dark-color: #152D73;
    --mid-color: #D4D4D8;
    --light-color: #F8FAFC;




}
body{
    background-color:var(--dark-color) ;
}

    /* Header */

a{
    text-decoration: none;
    color: var(--brand-color);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color:var(--light-color);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;

}
header > input{
    background-color: var(--mid-color);
    width: 350px;
    height: 25px;
    font-size: 15px;
    text-align: center;
}
header a{
    font-weight: 600;
    padding-right: 25px;

}

    /* main */

.categoria{
    text-align: center;
    color: var(--light-color);
    
}

article{
    display: flex;
    margin: 25px;
    padding: 15px;
}
section{
    margin: 10px;
    border-radius: 10% ;
    padding: 25px;
    width: 250px;
    box-shadow: 10px 7px 20px ;
    transition: transform 350ms;
}
.bg-color1{
    background: var(--light-color);
}
.bg-color2{
    background: var(--mid-color);
}
section:hover{
    transform: scale(1.1);
}
article>section>a> h3{
    font-size: 15px;
}

section h3{
    color: black;
    text-align: center;
    font-size: 25px;
}
section img{
    height: 150px;
    width: 90%;
    border-radius: 5%;
}
section h4{
    font-size: 18px;
    color: #22C55E;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
    background-color: var(--light-color);
}
footer>a{
    font-weight: 600;
}